<%- include("header") -%>
<section id="aboutusextended">


<h1 style="color: black;">
    About us
</h1>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <img src="https://wallpapercave.com/wp/wp2655110.jpg" alt="" srcset="" class="doc-img">
    </div>
    <div class="col-lg-6 col-md-6">
        <p class="">
            Caring for the growing needs of our community.
            Best of Care, As close as home..
            Medical tourism or health tourism is an act of traveling outside their area of residence for medical care which involves travelling to a remote destination. Global patients commonly use these services because it is pocket friendly with a touch of sight-seeing in another country.
            
            
            Medical Tourism by Global patients has doubled in the past ten years up to 1.4 million in 2017. The top four destinations for Americans are Mexico, Canada, India, and Thailand. Out of these, India offers the best combination of language, cost, and state-of the art facilities, along with an ease to get medical visa.
            
            FYD offer services that are ideal for people who need treatment which is not covered under medical insurance or for the patients who are un-insured. FYD is a medical travel company that represents ONLY internationally accredited hospitals and other wellness centers spread across India. We market them to Global health insurers and other aggregators and affinity groups of American patients likely to be interested in the advantages offered by these high-quality medical and wellness institutions.
            
            
            FYD has the advantage of both, a corporate office in Hyderabad & and USA with American senior managers who are personally endorsing the quality of the medical services they have received in India (vs. care in Mexico and Argentina).
            
            
            
            FYD is proud to market the best of Indian medical services to the insurers and employers of Global Patients to offer top quality medical care at convincingly affordable prices which are tailor-made for people seeking medical care. Our partner hospitals & other rehabilitation centers across India are happy to host foreign nationals who can avail the medical services and save a large part of their earnings.
        </p>
    </div>
</div>
   
</section>
<%- include("footer") -%>